{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Arman academy</title>
    <link rel="icon" href="{% static 'img/logo-small.png' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v=2.5">
  </head>
<body>
   <section id="top-bar">
	    <div>
	      <ul class="register">
        {% if user.is_authenticated %}
         <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}}
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'password_change' %}">Password Change</a></li>
              <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
         </li>
        {% else %}
          <li><a href="{% url 'singup' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %} 
	      </ul>
	    </div>
	    <div class="admin-status">
	        <span class="admin-status-text">Admin:</span>
	        <span class="admin-status-subtext">Online</span>
	        <span class="admin-status-subtext-offline">Offline</span>
	    </div>
   </section>

   <section id="menu-bar">
	    <nav class="navbar">
	        <span class="open-slide">
	          <a onclick="openSlideMenu()" id="side-menu-button">
	            <i class="fa fa-bars side-menu-bar"></i>
	          </a>
	        </span>
	        <span><a href="{% url 'exchange' %}" class="img-link"><img src="{% static 'img/logo.png' %}" id="main-logo"></a></span> 
	        <ul class="navbar-nav">
	          <li><a href="{% url 'exchange' %}" class="webmenu-class exchange-menu">Exchange</a></li>
	          <li><a href="{% url 'terms_main:terms' %}" class="webmenu-class tc-menu">T & C</a></li>
            {% if user.is_authenticated %}
	             <li><a href="{% url 'contact_main:contact' %}" class="webmenu-class contact-menu">Contact</a></li>
            {% endif %}   
	        </ul>
	    </nav>

        <div id="side-menu" class="side-nav">
          <a class="btn-close" onclick="closeSlideMenu()" id="close-buttion-top">&times;</a>
          <a href="{% url 'exchange' %}" class="mobile-class exchange-menu-mobile">Exchange</a>
          <a href="{% url 'terms_main:terms' %}" class="mobile-class tc-menu-mobile">T & C</a>
          {% if user.is_authenticated %}
            <a href="{% url 'contact_main:contact' %}" class="mobile-class contact-menu-mobile">Contact</a>
          {% endif %}  
        </div>
    </section>

     
	<main>
		{% block content %}{% endblock %}
	</main>

	<footer id="footer">
        <p class="footer-text">© Copyright - Developed by <a href="https://dev.vaidroad.com/" class="footer-link">VaidRoad</a> </p>
   </footer>

</body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{% static 'js/main.js' %}?v=4.4"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   {% block page_related_footer %}
    <!-- for footer static js/css or any other if required  -->
    {% if has_form_error %}
    
    console.log("ok ok")

    {% endif %}

   {% endblock page_related_footer %}
</html>   