{% extends "base.html" %}
{% block content %}
{% load static %}

<section id="login-section">
     <div class="container-fluid login-page-width main-body-container">
        <div class="row">
           <div class="col-sm-12 login-page-width">
               <div class="col-sm-3">
               </div>
               <div class="col-sm-6 login-body">
                  <p class="login-main-title">Change password</p>
                  <!--<form>
                      <div class="login-error-hide">
                          <ul class="login-error-box">
                             <li class="login-wrong-email">You enter wrong email </li>
                             <li class="login-wrong-password">You enter wrong password </li>
                          </ul>
                      </div>
                      <div>
                          <input type="email" name="" placeholder="Email Address" class="login-email-box" required>
                      </div>
                      <div>
                          <input type="password" name="" placeholder="Password" class="login-password-box" required>
                      </div>
                      <div>
                          <input type="" placeholder="Log In" class="login-button" readonly>
                      </div>
                  </form>-->

                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                  </form>
                  
                  <div>
                      <span class="login-bottom-text"><a href="{% url 'forgot' %}">Forgotten password?</a></span>
                      <span class="login-bottom-text"><a href="{% url 'singup' %}">Register for Biai</a></span>
                  </div>
               </div>
               <div class="col-sm-3">
               </div>
           </div>
        </div>
     </div>
</section>

{% endblock %}
